/* HEADER starts here!  */

body {
 font-family: 'Raleway', sans-serif;
}

#background {
  position: relative;

}

.container-fluid {
   padding: 0;

}
.text-block {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  color: #383838;
  /*rgb(56, 56, 56);*/
  font-family: 'Raleway', sans-serif;
}

/*#background .text-block  {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
  color: transparent;
  text-shadow: 0px 0px 1px #383838;
}*/
/* .text-block h1, .text-block h2,  .text-block h4,  .text-block p {
  -webkit-animation: fadeInRotate 0.3s linear 0.5s backwards;
  -moz-animation: fadeInRotate 0.3s linear 0.5s backwards;
  -ms-animation: fadeInRotate 0.3s linear 0.5s backwards;
  animation: fadeInRotate 0.3s linear 0.5s backwards;

}

.text-block h1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

.text-block p {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

 .text-block h2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}*/


#background:hover .text-block h1, #background:hover .text-block h2, #background:hover .text-block h4, #background:hover .text-block p {
  -webkit-animation: fadeInRotate 0.3s linear 0.5s backwards;
  -moz-animation: fadeInRotate 0.3s linear 0.5s backwards;
  -ms-animation: fadeInRotate 0.3s linear 0.5s backwards;
  animation: fadeInRotate 0.3s linear 0.5s backwards;

}

#background:hover .text-block h1 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}

#background:hover .text-block p {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

#background:hover .text-block h2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  animation-delay: 2s;
}

@-webkit-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
  }
}


@-moz-keyframes fadeInRotate {
  0% {
    opacity: 0;
    -moz-transform: scale(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
  }
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}


.text-block h4 {
  font-weight: 500;
  font-size: 18px;
  /*line-height: 1.2;*/
}

.text-block h1 { 
  font-weight: 800; font-size: 64px;
  /*line-height: 1.2;*/
 }

.text-block h2 {
 font-weight: 800; font-size: 26px;
 /*line-height: 0.769;*/
 }

 .text-block h2 span {
  color:#00a99d; 
  /*rgb(0, 169, 157);*/
 }

.text-block p {
  text-transform: uppercase;
  background-color: #383838;
  color: #fff;
  font-weight: 300;
  font-size: 17px;
  padding: 5px;
  text-align: center;
}

.text-block p span {
	text-transform: capitalize;
	font-weight: 600;
	padding-bottom: 0;

}

 .text-block p:first-letter {
 color: #00a99d;
 /*rgb(0, 169, 157);*/
}

.text-block h2 {
  position: relative;
}

 #line-right {
  position: absolute;
  top: 4px;
  right: 0px;     
}

 #line-left {
  position: absolute;
  top: 4px;
  left: -10px;   
}

.scroll-down {
  margin-top: 30px;
}

.navbar {
  border-radius: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.affix {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* fixed to top styles */
.affix.navbar {
  background-color: #fff;
}

.affix.navbar .nav-item > a, 
.affix.navbar .navbar-brand {
    color: #fff;
}

#nav-list a {
 color: #383838;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
 font-size: 13px;

}

#nav-list a:hover {
  background-color:#00a99d;
  color: #fff;
  -webkit-transition-duration: 0.2s; 
  transition-duration: 0.2s;
  border-radius: 5px;
}

.container button.navbar-toggler  {
 border: 1px solid #00a99d;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#00a99d' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* search button style */

.search-label{
   color: #00a99d; 
   border-radius: 1.5px;}

.form-inline input.form-control::-webkit-input-placeholder{
  display:none;
}
.search-form input.form-control::-moz-placeholder{
  display:none;
}

.form-inline {
  position:relative;
  width:0%;
  min-width:45px;
  height:45px;
  overflow:hidden;
  transition: width 1s;
  backface-visibility:hidden;
}
.form-inline input.form-control{
  position:absolute;
  top:0;
  right:0;
  outline:none;
  width:90%;
  height:45px;
  margin:0;
  z-index:10;
}
input[type="text"].form-control{
  -webkit-appearence:none;
  -webkit-border-radius:0;
}
.form-control-submit,
.search-label{
  width:45px;
  height:45px;
  position:absolute;
  right:0;
  top:0;
  padding:0;
  margin:0;
  text-align:center;
  cursor:pointer;
  line-height:45px;
  background:white;
}
.form-control-submit{
  background:#fff; /*stupid IE*/
  opacity: 0;
  color:transparent;
  border:none;
  outline:none;
  z-index:-1;
}
.search-label{
  z-index:90;
}
.form-inline.sb-search-open,
.no-js .sb-search-open{
  width:100%;
}
.form-inline.sb-search-open .search-label,
.no-js .sb-search .search-label {
  background: #00a99d;
  color: #e4e4e4;
  z-index: 11;
}
.form-inline.sb-search-open .form-control-submit,
.no-js .form-control .form-control-submit {
  z-index: 90;
}

/* search button style end */

/* HEADER ends here */

/*  FOOTER strats here  */

footer .container-fluid {
  padding: 0;
}

#footer-top {
  width: 100%;
  height: 278px;
  background: #383838;  
}

#logo-footer {
 padding-top: 30px;
 padding-bottom: 40px;
 text-align: center; 
}

#social-icons {
text-align: center; 
}

#social-icons  a:hover {
 background-color: #00a99d;
}

#social-icons .btn {
  width: 40px;
  height: 40px;
  padding: 2px;
  border: 1px solid #777;
}

#map-container {
  position: relative;
 
}

#form  {
  position: absolute;
  bottom: 5%;
  left: 18%;
  padding: 10px;
  background: #fff;
  width: 20%;
 /*height: auto;*/
}

#submit  {
 background-color: #00a99d;
 color: #fff;
}

.section-icon-bottom {
  position: relative;
  margin-bottom: 30px;
}

#go-to-top {
  position: absolute;
  bottom: -27px;
  left: 48%;
}

#footer-bottom {
  width: 100%;
  height: auto;
  background: #383838; 
}

#copyright {
  text-transform: capitalize;
  color: #fff;
  padding: 35px;
  margin-top: 0px;
  text-align: center;
}

/*  END FOOTER */


/* MAIN CONTENT starts here! */

.sections {
  padding-top: 40px;
}

#main-content h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  line-height: 0.769;
}


 .sections:hover .line-1 {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-10%);    
}

/* Animation */
.sections:hover .anim-typewriter{
  animation: typewriter 4s steps(44) 0.3s 1 normal both,
             blinkTextCursor 500ms steps(4) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

#features h2, #skills h2, #facts h2{
  color: rgb(228, 228, 228);
}

#offers h2, #sampleWorks h2, #team h2, #prices h2{
  color: rgb(56, 56, 56);
}

.subtext {
  text-align: center; 
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1;
}

#offers .subtext, #sampleWorks .subtext, #team .subtext, #prices .subtext {
  color: rgb(138, 138, 138);
}

#features .subtext, #skills .subtext, #facts .subtext {
  color: rgb(96, 96, 96);
  padding-right: 20px;
  padding-left: 20px;

}

#main-content h3{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

#offers h3, #moreFeatures  h3 {
  color: rgb(96, 96, 96);  
}

#offers p, #features p, #moreFeatures p {
  font-size: 14px;
  color: rgb(122, 122, 122);
  line-height: 1.714;
}

/* Offers Section */

#offers {
  height: auto;
  background-color: #fff; 
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#offers .row {
  /*margin-bottom: 10px;*/
}

.offer-columns {
  padding-bottom: 50px;
}

#offers h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}

#offers p {
  padding: 1px;
  margin: 0;
  text-align: left;
}

.btn-circle {
  background-color: #383838;
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle:hover {
  background-color: #00a99d;
}

.read-more {
  margin-top: 20px;
}
.read-more:hover {
  background-color:#00a99d;
  color: #fff;
}

.section-icon1 {
  position: relative;
}
#section-icon1 {
  position: absolute; 
  top: -5px;
  right: 48%;
}


/* Amazing Features Section */

#features {
  height: auto;
  background-color: #383838;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}


.features-description {
  padding-left: 15px; 
}

#features h3 {
  color: rgb(228, 228, 228);
}

.ipad1 {
  position: absolute;
  top: 20%;
  bottom: -24%;
  right: 10px;
  transform: translate(-10%, -20%); 
 }

.ipad{
  position: absolute;
  bottom: -18%;
  transform: translate(-10%, -20%); 
  right: 20%;
}


.features-col {
  padding-bottom: 40px;
  margin-left: 40px; 

}

/* More Features */

#moreFeatures {
  height: auto;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-left: 40px;
  position: relative;
}

.more-features-col {
  padding-bottom: 40px;
}

.more-features-description h3 {
  font-size: 14px;
  color: rgb(96, 96, 96);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0;
}

.more-features-description span {
  font-size: 12px;
  color: rgb(170, 170, 170);
  line-height: 1.2;
  text-transform: capitalize;
  /*text-align: left;*/
}

.more-features-description p {
  padding-top: 5px;
 
}


#section-icon2 {
  position: absolute; 
  bottom: -7.1%;
  right: 48%;
}

/* Skills Section */

#skills {
  height: auto;
  background-color: #383838;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

div .demo, div .demo1, div .demo2, div .demo3, div .demo4, div .demo5  {font-size:0;

}

canvas {
  height: 120px;
  width: 120px; 
}

.circles-row {
  padding-right: 15px;
  padding-left: 15px;
}

#skills .circle-col {
  padding-right: 0;
  padding-left: 0;
}

.circle {
height:  120px;

}

.circle-titles {
  font-size: 14px;
  color: rgb(138, 138, 138);
  font-weight:  600;
  text-transform: uppercase;
  line-height: 1.143;
}

/* Sample Works Section */

#sampleWorks {
  height: auto;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  /*position: relative;*/
}


.works-columns {
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 6px;

}

#works-columns .images {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height: auto;
  width: 100%;

}

.middle {
  transition: .5s ease;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  -webkit-transform:scale(0);
  overflow: hidden;
  background-color: #00a99d;
  opacity: 0.9;
}

.images:hover .middle {
  transform: scale(1)
  
}

.text {
  position: absolute;
  bottom: 23%;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
 
}

.text span {
  font-size: 12px;
}

.sample-icon {
  position: absolute;
  top: 8%;
  right: 35%;
}

.likes {
  position: absolute;
  color:#fff;
  bottom: 10%;
  right: 40%;
  font-size: 12px;
}

#worksButton {
  background-color: #00a99d;
  color: #e4e4e4;
  font-weight: 600;
  width: 60%;
  text-transform: capitalize;
  margin-left:  20%;
  margin-right: 20%;
  margin-top: 2%;
  text-decoration: none; 
}

.section-icon3{
  position: relative;
}

#section-icon3 {
  position: absolute; 
  top: 74px;
  right: 48%;
}

/*  Company Facts */

#facts {
  height: auto;
  background-color: #383838;
  font-size: 80px;
  color: rgb(228, 228, 228);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

 .facts-subtitles {
  font-size: 14px;
  color: rgb(96, 96, 96);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.143;
  text-align: center;

 }

 .facts-subtitles span {
  font-size: 12px;
  font-weight: normal;
 }

.facts-icons {
  margin-top: -40px;
  margin-bottom: -20px;
}

.figures {
  position: relative;
}

.diamond-right, .diamond-left {
   position: absolute;
   width: 10px; 
   height: 10px; 
   background: rgb(96, 96, 96);
   margin: 3px 0 0 30px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

.diamond-right{
  right: 13%;
  top: 35%;
}

.diamond-left {
  left: 6%;
  top: 35%;

}

.figures:hover .diamond-right, .figures:hover .diamond-left  {
  background: #00a99d;
}


/* Panel 1  */

#panel1{
  height: auto; 
  background-color: #00a99d;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

#panel1-text { font-size: 16px;
  color: rgb(228, 228, 228);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  padding-top: 25px;
 
}

#panel1-btn .btn {
  font-size: 13px;
  color: rgb(96, 96, 96);
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  margin-right: 5px;
  margin-top: 20px;

}

/*Team Members section*/

#team {
  position: relative;
  height: auto; 
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.team-col {
   border: 1px solid rgb(228, 228, 228); 
    width: 90%;
   border-radius: 5px;

}

.member-photo {
  position: relative;
  z-index: 0;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height: auto;
  width: 100%;
}

.member-name {
 position: absolute;
 width: 50%;
 height: 35px;
 bottom: -6%;
 left: 23%;
 text-align: center;
 background-color: #00a99d;
 border-radius: 5px;
 z-index: 1;
 color: #e4e4e4;
 font-weight: 600; 
 font-size: 13px;
 color: rgb(228, 228, 228);
 text-transform: uppercase;
 line-height: 1.2;
 padding-top: 10px;
}

.overlay {
  transition: .5s ease;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  text-align: center;
  background-color: #00a99d;
  opacity: 0.8;
}

.member-photo:hover .overlay {
  width: 100%;
}

.member-photo:hover .member-name{
  background-color: #383838;
}

.social-icons-merged {
  position: absolute;
  width: 70%;
  top: 40%;
  right: 16%;
}


#team hr {
 width: 50%;
}

.member-info {
  padding-top: 30px;
  padding-bottom: 10px;  
}

.member-position {
  color: rgb(96, 96, 96);
  line-height: 1.833;
  font-size: 12px;
}

.email, .phone {
  color: rgb(170, 170, 170);
  font-size: 12px;
}

.fa-envelope, .fa-phone {
  font-size: 16px;
  font-family: "ElegantIcons";
  color: rgb(170, 170, 170);
  line-height: 2;
  padding-right: 10px;
}

#section-icon4 {
  position: absolute; 
  bottom: -4.8%;
  right: 48%;
}

.next {
  position: absolute;
  right:48px;
  top: -100px;
  background-color: black;
  width: 28px;
  height: 28px;
  padding: 0px 1px 1.5px 1px;

}

.previous {
  position: absolute;
  left: 25px;
  top: -100px;
  background-color: black;
  width: 28px;
  height: 28px;
  padding: 0px 1px 1.5px 1px;
}

.next:hover, .previous:hover {
 background-color: #00a99d;
} 

  /*Panel 2 Section */

#panel2 {
  height: auto; 
  background-color: #00a99d;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  width: 100%;
}

#ceo-btn  {
  margin-top: 50px;
  color: rgb(228, 228, 228);
  font-weight: bold;
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 15px;
}

#ceo-btn button span {
  color: #00a99d;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
} 

#ceo-btn button  span + span  {
  font-size: 12px;
  font-family: "Raleway";
  color: rgb(96, 96, 96);
  line-height: 1.833;
  font-weight: 400;
  text-transform: capitalize;
}

blockquote {
  font-size: 18px;
  color: rgb(228, 228, 228);
  width: 700px;
  margin:0 auto 15px;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
}

blockquote:before {
  padding-left: 10px;
  content: "\201C";
  font-size: 70px;
  position: absolute;
  left: 18px;
  top: -12px;
}


blockquote:after {
  position: absolute;   
  font-size:70px;
  right: 132px;
  bottom: -48px;
  content: "\201D";
}


.btn-right, .btn-left {
  height: 30px;
  width: 30px;
  background-color: #383838;
}

.btn-right{
  padding: 3px 0px 2px 0px;
}

.btn-left{
  padding: 3px 2px 0px 0px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: rgb(228, 228, 228);
  color: #00a99d;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 13px solid rgb(228, 228, 228);
  border-bottom: 10px solid transparent;

}

#triangle-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 13px solid rgb(228, 228, 228);
  border-bottom: 10px solid transparent;
}

#panel2 .carousel-control-next:hover #triangle-right {
  border-left: 13px solid #00a99d;
}


#panel2 .carousel-control-prev:hover #triangle-left {
  border-right: 13px solid #00a99d;
}

.carousel-control-prev , .carousel-control-next {
  opacity: 1;
   
}


/*Logos Section */

#panel3 {
  background-color: #383838;
  position: relative;
  height: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 60px;
  padding-left: 60px;
}

.panel3-col {
  width: 95%;
  height: 160px;
  background-color: rgb(53, 53, 53);
  position: relative;
  margin-bottom: 15px;

}

.panel3-col:hover {
  background-color: rgb(45, 45, 45);
}

.logos  {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

#panel3 .btn {
  height: 30px;
  width: 30px;
  background-color: #fff;
}

.carousel-control-next2 {
  position: absolute;
  z-index: 1;
  padding: 3px 0px 1px 8px;
  bottom: 50%;
  right: -3%;
}

.carousel-control-prev2 {
  position: absolute;
  z-index: 1;
  left: -4%;
  bottom: 50%;
  padding: 3px 0px 1px 6px;
}

#triangle-right2 {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 13px solid #00a99d;
  border-bottom: 10px solid transparent;
}

#triangle-left2 {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 13px solid #00a99d;
  border-bottom: 10px solid transparent;
}


#panel3 .carousel-control-next2:hover {
 background-color: #00a99d;

}

#panel3 .carousel-control-prev2:hover{
  background-color: #00a99d;

}

#panel3 .carousel-control-next2:hover #triangle-right2 {
  border-left: 13px solid rgb(228, 228, 228);
}

#panel3 .carousel-control-prev2:hover #triangle-left2 {
border-right: 13px solid rgb(228, 228, 228);
}

/* Prices Section  */

#prices {
  height: auto; 
  background-color: #fff;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

#prices .subtext {
  margin-bottom: 30px;
}

.prices-col {
  position: relative;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 2px;
  margin-bottom: 60px;
}

.plan-name {
  position: absolute;
  background-color: #383838;
  border-radius: 3px;
  top: -4%;
  left: 20%;
  height: 35px;
  width: 55%;
  padding-top: 10px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 13px;
  color: rgb(228, 228, 228);
  font-weight: bold;
  line-height: 1.2;
}

.plan-name:hover {
  background-color: #00a99d;
}

.plan-price {
  padding-top: 20px;
  position: relative;
}

.plan-price span:nth-of-type(1) {
  font-size: 16px;
  color: rgb(138, 138, 138);
  line-height: 1.2; 
}

.plan-price span:nth-of-type(2) {
  font-size: 60px;
  color: rgb(56, 56, 56);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.plan-price span:nth-of-type(3) {
 font-weight: bold;
 font-size: 16px;
 color: rgb(56, 56, 56);
 position: absolute;
 right:40%;
 top: 25%;
}

.diamond2{
   position: absolute;
   bottom: 13%;
   left: 45%;
   width: 10px; 
   height: 10px; 
   background: rgb(56, 56, 56);
   margin: 3px 0 0 30px;
   /* Rotate */
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   transform: rotate(-45deg);
   /* Rotate Origin */
   -webkit-transform-origin: 0 100%;
   -moz-transform-origin: 0 100%;
   -ms-transform-origin: 0 100%;
   -o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}
.plan-price span:nth-of-type(5) {
  font-size: 12px;
  color: rgb(138, 138, 138);
  line-height: 1.2; 
  padding-left: 20px;
}

#prices hr {
  width: 80%;
}

.plan-description {
  font-size: 14px;
  font-family: "Raleway";
  color: rgb(138, 138, 138);
  line-height: 2.857;
  text-transform: capitalize;
}

.prices-col .btn {
  font-size: 13px;
  color: rgb(228, 228, 228);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  background: #00a99d;
  margin-bottom: 20px;
}

#advanced-plan {
  width: 60%;
}


.fa-star {
  color:#00a99d ;
}

#star-right {
  position: absolute;
  top: 30%;
  right: 5%;
}

#star-left{
  position: absolute; 
  top: 30%;
  left: 5%;
}

#advanced-plan:hover .fa-star {
color:  rgb(228, 228, 228);
}

/* panel 4*/

#panel4 {
  height: 200px;
  height: auto; 
  background-color: #888;
  padding-right: 40px;
  padding-left: 100px;
  padding-bottom: 40px;
  padding-top: 40px;
}
      
#panel-4-col {
  font-weight: 600;
  text-transform: capitalize;
/*
  font-size: 26px;*/
  font-family: "Myriad Pro";
  color: rgb(56, 56, 56);
/*  text-transform: uppercase;*/
  line-height: 0.769;
  
}

#panel-4-col span:nth-of-type(1)  {
  font-weight: 600;
  text-transform: uppercase;
}

.fa-heart {
  color:#00a99d
}

#panel-4-col .btn {
  background: #00a99d;
  color: rgb(228, 228, 228);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  text-align: center;
  float: right;
}


#panel-4-col .fa-shopping-cart {
  font-size: 16px;
  padding-left: 10px;

}

/********** Extra Large devices only **********/
@media (min-width: 1200px) {

    /* Home Page */

.member-name {
 width: 55%;
}

.team-col {
 transform: translate(10%, 0%);

}
   /* End Home Page */
}

/********** Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
     
/*  Header  */

/* End Header */


/* Footer  */

#form  {
 width: 25%;
 left: 15%;

}

/* End Footer  */

/* Main Content */

#section-icon1 {
right: 47.5%;
} 

.ipad1 {
  bottom: 5%;
  right: 5px;
  transform: translate(-2%, 5%); 
 }

.ipad{
  bottom: -9%;
  transform: translate(3%, 14%); 
}

#section-icon2 {
  bottom: -6%;

}

.text {
  bottom: 28%;
  right: 10%;
}


.sample-icon { 
  top: 10%;
 
}


#worksButton {
  width: 70%;
   margin-left:  15%;
  margin-right: 15%;

}

.diamond-right{
  right: 5%;

}

.diamond-left {
  left: -1%;


}

#team {
  padding-left: 25px;
  padding-right: 25px;
}

.team-col {
 transform: translate(10%, 0%);
}

.member-name {
  position: absolute;
  width: 60%;
  height: 35px;
  bottom: -7%;
  left: 20%;
}

.next {
  right:30px;
}

.previous {
  left: 30px;
 }

#advanced-plan {
  width: 75%;
left: 13%;
}

.plan-name { 
   width: 60%;
}
/* End Main Content */

}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

  /* Header  */

.text-block {
  transform: translate(-50%, -50%);
}

.text-block h1 { 
   font-size: 50px;
 }

.text-block h2 {
font-size: 22px;
 }

.text-block p {

 font-size: 14px;
}

.text-block p span {
  font-weight: 400;
}


 #line-right {
  width: 24%; 
  top: 2.5px;   
}

 #line-left {
  top: 2.5px;
  width: 24%;   
}

.scroll-down {
  margin-top: 20px;
}

 /* End  Header  */ 

 /*  Footer   */
  
#form {
  width: 28%; 
  left: 10%;
  padding-bottom: 0;
}

/*  End Footer */

/* Main Content  */

#section-icon1 {
right: 47%;
} 

.ipad1 {
  bottom: 5%;
  right: 5px;
  transform: translate(4%, 32%); 

 }

.ipad{
  bottom: -7%;
  transform: translate(15%, 22%); 
}

#section-icon2 {
  bottom: -4.6%;

}

.text {
  bottom: 24%;
  right: 7.5%;
  font-size: 12px;
}


.sample-icon { 
  top: 7%;
 
}

.likes {
  right: 42%;
  
}

#worksButton {
  width: 70%;
   margin-left:  15%;
  margin-right: 15%;
}

#section-icon3 {
  top: 54px;
}

#sampleWorks {
  padding-bottom: 80px;
}

#facts {
  font-size: 55px;
  padding-right: 30px;
  padding-left: 30px;
}

.facts-subtitles {
  font-size: 13px;
 
 }

.facts-icons {
  margin-top: -20px;
  margin-bottom: -10px;
}

#team {
  padding-left: 15px;
  padding-right: 15px;
}

.team-col {
 transform: translate(18%, 0%);
  width: 80%;
}

.next {
  right:40px;
}

.previous {
  left: 40px;
 }


.diamond-right{
  right: 6%;
  top: 25%;
}

.diamond-left {
  left: -6%;
  top: 25%;

}

.member-name {
  width: 75%;
  left: 15%;
  font-size: 12px;
}


.email, .phone {
  font-size: 11px;
}

.fa-envelope, .fa-phone {
  font-size: 14px;
  padding-right: 3px;
}

#section-icon4 {
  bottom: -4.5%;
}


.carousel-control-next2 {
  right: -4%;
}


.carousel-control-prev2{
  left: -6%;
}


#prices {
  padding-left: 150px;
}
.prices-col {
  margin-bottom: 80px;
}

.plan-name {
  left: 27%;
  width: 45%;
}

#advanced-plan {
  width: 55%;
  left: 25%;
}


/* End  Main COntent */

}

/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767px) {

 /* Header */ 

 .text-block {
  transform: translate(-50%, -50%);
}

.text-block h4 { 
  font-size: 16px;
}

.text-block h1 { 
   font-size: 38px;
 }

.text-block h2 {
 font-size: 18px;
 }

.text-block p {
 font-size: 10px;
}

.text-block p span {
  font-weight: 400;
}


 #line-right {
  width: 20%; 
  top: -1px;   
}

 #line-left {
  top: -1px;
  width: 20%;   
}

.scroll-down {
  margin-top: 15px;
}

/* End Header */

/* Footer  */

#form {
  width: 32%; 
  left: 5%;
  padding-bottom: 0;
}

/* End Footer */

/* Main Content  */

#section-icon1 {
 right: 46.5%;
} 

.ipad1 {
  bottom: -10%;
  right: -15%;
  transform: translate(-1%, 35%); 

 }

.ipad{
  bottom: -3%;
  transform: translate(30%, 25%); 
}

#section-icon2 {
  bottom: -2.9%;
}

.text {
  bottom: 24%;
  right: 9%;
  font-size: 12px;
}


.sample-icon { 
  top: 7%;
 
}

.likes {
  right: 42%;
  
}

#worksButton {
  width: 70%;
  margin-left:  13%;
  margin-right: 13%;
  margin-top: 20px;
}

#section-icon3 {
  top: 54px;
  right: 46%;
}

#sampleWorks {
  padding-bottom: 80px;
}

#facts {
  font-size: 35px;
  padding-right: 25px;
  padding-left: 25px;
}

.facts-subtitles {
  font-size: 12px;
 
 }

.facts-subtitles span {
  font-size: 10px;
 }

.facts-icons {
  margin-top: -8px;
  margin-bottom: -1px;
}

.diamond-right{
  right: 5%;
  top: 20%;
}

.diamond-left {
  left: -10%;
  top: 20%;
}

#team {
  padding-right: 20px;
  padding-left: 20px;
}

.team-col {
 transform: translate(25%, 0%);
 width: 74%; 
}

.member-name {
  width: 65%;
  padding: 11px;
}

.next {
  right: 40px;
   top: -120px;
}

.previous {
  left: 40px;
   top: -110px;
 }


#section-icon4 {
  bottom: -4.5%;
  right: 43%;
}

.carousel-control-next2 {
  right: -5%;
}


.carousel-control-prev2{
  left: -7%;
}

blockquote {
  width: 550px; }


blockquote:before {
  left: 10px;
}


blockquote:after {
  right: 212px;

}

.plan-name {
  left: 23%;
}

#advanced-plan {
  width: 65%;
  left: 18%;
}


#panel4 {
  padding-left: 20px;
}


/* End Main Content */

}

/********** Extra Small Devices Only **********/
@media (min-width: 480px) and  (max-width: 575px) {

 /* Header */ 

.text-block h4 {
 font-size: 15px;

}

.text-block h1 { 
  font-size: 29px;
 }

.text-block h2 {
  font-size: 16px;
 }

.text-block p {
 font-weight: 300;
 font-size: 8px;
}


.text-block p span {
  font-weight: 400;
}

 #line-right {
  width: 14%; 
  top: -3px;   
}

 #line-left {
  top: -3px;
  width: 14%;   
}

.scroll-down {
  margin-top: 10px;
}

/* End Header */

/* Footer  */

#form {
  bottom: 10%;
  left: 5%;
  width: 40%; 
  padding-bottom: 0;
}

#formControlTextarea {
  height: 60px;
}

/* End Footer */

/* Main Content */

#section-icon1 {
right: 45%;
} 


#section-icon2 {
  bottom: -2.5%;
}

.text {
  bottom: 24%;
  right: 9%;
  font-size: 14px;
}


.sample-icon { 
  top: 7%;
 
}

.likes {
  right: 42%;
  
}

#worksButton {
  width: 75%;
   margin-left:  9%;
  margin-right: 9%;
  margin-top: 30px;
}


#section-icon3 {
  top: 54px;
  right: 44%;
}

#sampleWorks {
  padding-bottom: 80px;
}


#facts {
  font-size: 60px;
}

.figures{
  padding-bottom: 40px;
}

.facts-icons {
  margin-top: -20px;
  margin-bottom: -5px;
}

.diamond-right{
  right: 9%;
  top: 20%;
}

.diamond-left {
  left: 1%;
  top: 20%;
}

.team-col {
 transform: translate(50%, 0%);
 width: 50%;
 margin-bottom: 30px;
}

.next {
  right: 20px;
  top: -130px;}

.previous {
  left: 20px;
  top: -130px;
 }

.member-name {
  width: 70%;
  left: 15%;
}

.carousel-control-next2 {
  bottom: 48%;
  right: -9%;
}


.carousel-control-prev2 {
  bottom: 48%;
  left: -9%;
 
}

#section-icon4 { 
  bottom: -4.5%;
  right: 45%;
}

blockquote {
  width: 450px; }

blockquote:before {
  left: 25px;
}

blockquote:after {
  right: 55px;

}

#prices {
  padding-left: 70px;
  padding-right: 70px;
}


.plan-name {
  left: 27%;
  width: 48%;
}

#advanced-plan {
  width: 60%;
  left: 23%;
}

#panel-4-col .btn {
  margin-top: 30px;
  float: left;
}
/* End Main Content */

}

/*  Extra Extra Small  */

@media (min-width: 319px) and (max-width: 479px) {

  /*  Header  */
#background {
  display: none;
}

  /* End Header */

  /* Footer  */
#form {
  bottom: 15%;
  left: 15%;
  width: 70%; 
  padding-bottom: 0;
}

.map {
 height: 340px;
   
}

#social-icons {
padding-right:  20%;
padding-left: 20%;
}

/*  End Footer */

/* Main Content */


#main-content h2 {
  font-size: 18px; 
}

#section-icon1 {
right: 43%;
} 

#features {

  padding-left: 10px;
  padding-right: 10px;

}

.features-description {
  padding-left: 8px; 
}

.features-col {
  margin-left: 10px; 
}

/* More Features */

#moreFeatures {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;

}

.more-features-col {
  padding-bottom: 30px;
}

#section-icon2 {
  bottom: -2.5%; ;
}


#skills {
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
}

canvas {
  height: 110px;
  width: 110px; 
}

.circles-row {
  padding-right: 15px;
  padding-left: 15px;
}


.circle {
height:  110px;

}

.circle-titles {
  font-size: 12px;

}

/* Sample works section */

#sampleWorks {
 padding-left: 15px;
 padding-right: 15px;

}

.text {
 bottom: 23%;
 left: 8%;
 font-size: 12px;
 
}

.text span {
  font-size: 10px;
}

.sample-icon {
  right: 35%;
}

.likes {
  right: 43%;
}


#worksButton {
  width: 70%;
  margin-left:  18%;
  margin-right: 18%;
}

#section-icon3 {
  right: 43%;
  bottom: -2%; ;
 
}

#facts {
  font-size: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.facts-icons {
  margin-top: -15px;
  margin-bottom: -5px;
}

.diamond-right{
  right: 3%;
  top: 25%;
}

.diamond-left {
  left: -9%;
  top: 25%;

}

#panel1{
  padding-left: 20px;
  padding-right: 20px;
}

#panel1-btn .btn{
  margin-top: 25px;
}


#team {
  padding-right: 15px;
  padding-left: 15px;
}

.team-col {
 width: 60%;
 transform: translate(40%, 0%);
 margin-bottom: 30px;

}

.col-xxs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  }

.member-name {
  width: 67%;
  left: 18%;
}

.next {
right: -10px;
 top: -130px;}

.previous {
  left: 30px;
  top: -130px;
 }


#section-icon4 { 
  bottom: -4.3%;
  right: 40%;
}


#panel2 {
  padding-left: 10px;
  padding-right: 10px;
}

blockquote {
  width: 300px; 

}

blockquote:before {
  left: 20px;
}

blockquote:after {
  right: 89px;
}


.btn-right, .btn-left {
 margin-top: 20px;

}

.carousel-control-next2{
 
  right: -12%;
}

.carousel-control-prev2 {
  left: -17%;
 
}

/* panel 4*/

#panel4 {
  padding-left: 20px;
}

#panel-4-col .btn {
 margin-top: 30px;
 float: left;
}

/* End Main Content */

 }





