

#glyphicon {
   color: white;
   background-color: white;
}


.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url(../images/jumbotron_1200.jpg);
}
.slide2 {
    background-image: url(../images/novruz-1200.jpg);
}
.slide3 {
    background-image: url(../images/nature-1200.jpg);
}
/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}





/*.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide1 {
    background-image: url(../images/jumbotron_768.jpg);
}
.slide2 {
    background-image: url(../images/jumbotron_768.jpg);
}
.slide3 {
    background-image: url(../images/jumbotron_768.jpg);
}*/
/* Carousel Fade Effect */
/*.carousel.carousel-fade .carousel-item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
.carousel.carousel-fade .active.carousel-item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}*/


body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/*  Header  */

#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
}
#social-icon {
	margin-bottom: 0;
	margin-right: 20px;
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 0px;
}

#logo-img {
  background: url('../images/chef-woman2.jpg') no-repeat;
  width: 128px;
  height: 143px;
  margin-top: 20px;
}

.navbar-brand {
  padding-top: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  margin-bottom: 0; 
  margin-right: 0;
  margin-top: 40px;

}


.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #660066;
  font-size: 2em;
  text-transform: ;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
  line-height: .75;
  font-family: zapfino; 
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; 
  margin-right: 0;
  margin-left: 0;
  font-family: zapfino; 
}

#nav-list a {
  color: #660066;
  
}
#nav-list a:hover {
    font-size: 20px; 
}

#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #660066;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.navbar-form {
	clear: left;
  position: relative;
  /*padding-bottom: 10px;*/
  margin-top: 0;

}

#search-button {
	background-color: #660066;
  color: #fff;
  vertical-align: top;
}

/*#search-button:hover {
  background: #660066;
  color: #fff; 
}*/

#search-icon {
position: absolute; 
  /*top: 0;*/
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 34px;
  /*background: #660066;*/
  /*width: auto;*/
}

#search-icon:hover {
  background: #660066;
}

#search-button1 {
  background-color: #660066;
  color: #fff;
  vertical-align: top;
}

/*#search-button:hover {
  background: #660066;
  color: #fff; 
}*/

#search-icon1 {
position: absolute; 
  /*top: 0;*/
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 34px;
  /*background: #660066;*/
  /*width: auto;*/
}

#search-icon1:hover {
  background: #660066;
}
.glyphicon {
  color: #660066; 
}
.glyphicon:hover {
  color: #fff; 
}


/* End Header */


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #660066;
  /*#AAA811*/;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

/* End Footer */


/* HOMEPAGE */

.container .jumbotron {
  /*box-shadow: 0 0 50px #660066;;*/
  border: 2px solid #660066;
}

/* End Homepage*/


/********** Large devices only **********/
 /* Home Page */

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 836px;
  }

   /* End Home Page */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 691px;
  }
  /* End Home Page */
}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  /* Header  */
  
.navbar-brand {
padding-top: 50px;
margin-top: 50px;

}

.navbar-brand h1 {  
margin: 0;
}

.navbar-form  {
margin-top: 20px; 
padding-top: 0;

}

#social-icon {
margin-top: 20px;
padding-top: 0;
}

#nav-list {
}
  /* End Header  */

   /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 535px;
  }
  /* End Home Page */
}


/********** Extra small devices only **********/
@media (max-width: 767px) {

 /* Header */ 


#logo-img {
  background: url('../images/chef-woman4.jpg') no-repeat;
  width: 100px;
  height: 112px; 
  margin-left: 15px;

 }

.navbar-brand {
 
margin-top: 40px;
padding-left: 0px;
}

.navbar-brand h1 {  
  
  font-size: 1.9em;
  margin: 0;
  
  }

/*.navbar-form  {
margin-top: 20px; 
padding-top: 0;


}*/


#nav-list {

}

.navbar-header button.navbar-toggle {
  
  margin-top: -80px;  
  margin-bottom: 10px;
  margin-right: 20px;


}

/* End Header */


 .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
}


/********** Super extra small devices Only :-)  **********/
@media (max-width: 550px) {

#logo-img {
background: url('../images/chef-woman-xxs.jpg') no-repeat;
  width: 60px;
  height: 68px;
  margin-top: 40px;
  margin-left: 10px;

}

 .navbar-brand {
font-size: 1em;
margin-left: 0;
padding-left: 5px;
margin-bottom: 20px;
padding-bottom: 30px;
}

.navbar-header button.navbar-toggle {
  
  margin-top: -70px;
}

}

/********** Super super extra small devices Only :-) (e.g., iPhone 4) **********/

@media (max-width: 468px) { 
  #logo-img {display: none;

}

.navbar-brand {
font-size: 0.7em;
margin-left: 20px;
padding-left: 0;
margin-bottom: 20px; }

}










