
body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/*  Header  */

#header-nav {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  margin-bottom: 10px;

}

#logo-img {
  background: url('../images/travel-logo-lg.png') no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-top: 10px;
}

.navbar-brand {
  /*padding-top: 20px;*/
  padding-left: 10px;
  padding-right: 320px; 
  margin-top: 15px;
}

.navbar-brand h1 { 
  color: #0F5BB6;
  font-size: 1.7em;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000;
  text-align: center;
  line-height: .75;
  font-family: zapfino; 
  margin-bottom: 5px;

}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #0F5BB6;
  font-family: lora;
  font-size: 0.7em; 
}

#social-icon {
  margin-top: 10px;
  padding-left: 330px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0F5BB6;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-form {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0px;

  border: 0;
}

#search-button {
  background-color: #0F5BB6;
  color: #fff;
  vertical-align: top;
  /* background-color: #f3901c;
  border-radius: 5px;
 box-shadow: 0 6px 20px 0*/;

}


#search-icon {
position: absolute; 
top:0;
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 34px;

}

#search-icon:hover {
  background: #0F5BB6;
}

.glyphicon {
  color: #0F5BB6; 
}
.glyphicon:hover {
  color: #fff; 
}

#nav-list {
  margin-top: 0px;
 /* font-family: zapfino; */ 
  
}

#nav-list > li {
margin-right: 5px;
background-color: #f3901c;
border-radius: 10px;
box-shadow: 0 6px 20px 0;
/*text-shadow: 0px 0px 0px #000; */


}


#nav-list a {
  color: #0F5BB6;
  font-size: 1.2em;
}

#nav-list a:hover {
    font-size: 1.4em; 
    -webkit-transition-duration: 0.3s; 
    transition-duration: 0.3s;

}


.dropdown-menu li {
  text-align: center;
  
}
/* End Header */


/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #0F5BB6;
  /*#AAA811*/;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;

}

 .panel-footer section {
   
    text-align: center;
  }

#hours, #address, #contacts, #copy {

  line-height: 2;
  color: #fff;
}

#social-icon-footer {
 margin-top: 20px;

}

#hours > span, #address > span,  #contacts > span {
  font-size: 1.3em;
  font-family: zapfino; 
  
}

/* End Footer */


/* HOMEPAGE */

.slide {

    background-size: cover;
    background-position: center;

    box-shadow: 0 0 50px #0F5BB6;
    border: 2px solid #0F5BB6;
}

/*.slide1 {
    background-image: url(../images/symi_1200.JPG);
}
.slide2 {
    background-image: url(../images/lindos_1200.JPG) ;
}
.slide3 {
    background-image: url(../images/aquarium1_1200.JPG);
}*/

/* Carousel Fade Effect */
.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    /*opacity: .5;*/
}
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

#glyphicon {
   color: #fff;
   font-size: 2em;
   
}

#home-tiles {
  margin-top: 30px;

}
 
 #info  {

  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
 
  margin-top: 30px;
  background-color: #f3901c;
  color: #0F5BB6 ;
  border-radius: 5px;
  

height: 70px;

 box-shadow:  0px 7px 29px 2px rgba(0,0,0,1);

}

#date, #time, #take-quiz {
 
 padding-top: 20px; 
}

#take-quiz button {
 border-radius: 10px;
 background-color: #0F5BB6;
 color: white;
 width: 60px;
 height: 30px;

}


.category-tile  {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
  border: 2px solid #0F5BB6;
  margin-bottom: 5px;
  
}

.category-tile span {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  /*text-transform: uppercase;*/
  background-color: #0F5BB6;
  color: #fff;
  opacity: .8;
  
}

.menu-item {
  padding-bottom: 10px;
  color: black;
  margin-bottom: 15px;

}

#home-tiles a:hover, #home-tiles a:focus {
  text-decoration: none;
  /* -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;*/
}

/* End Homepage*/




/********** Large devices only **********/
 

@media (min-width: 1200px) {

    /* Home Page */

/* .panel-footer div.row {
  padding-top: 20px;
  
}*/

   /* End Home Page */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
     
/*  Header  */

#logo-img {
  background: url('../images/travel-logo-md.png') no-repeat;
  width: 80px;
  height: 80px; 
  margin-top: 20px;

 }

.navbar-brand {
  padding-right: 265px; 
  

}

.navbar-brand h1 { 
  font-size: 1.3em;
}

.navbar-brand p {
  font-size: 0.5em; 
}

#social-icon {
  padding-left: 260px;
 
}



#nav-list a {
  font-size: 0.9em;

}

#nav-list a:hover {
    font-size: 1.2em; 
}

/*  End Header  */

 /* Home Page */

/* End Home Page */
    
}


/********** Small devices only **********/

@media (min-width: 768px) and (max-width: 991px) {

  /* Header  */

  #logo-img {
  background: url('../images/travel-logo-sm.png') no-repeat;
  width: 60px;
  height: 60px; 
  margin-top: 30px;
 }
  
.navbar-brand {
  padding-right: 0;
  margin-top: 20px;
}

.navbar-brand h1 { 
  font-size: 1.2em;
  /*margin-bottom: 0;*/
}

.navbar-brand p {
  font-size: 0.5em; 
}

#social-icon {
  padding-bottom: 0;
  padding-left: 90px;
}


.navbar-form {
margin-top: 40px; 
}

#search-icon {
  bottom: 0;

  right: 0px;
  width: 40px;
  height: 34px;
}


#nav-list{
  margin-top: 20px;
}
#nav-list a {
 
  font-size: 1em;
}

#nav-list a:hover {
    font-size: 1.1em; 
}



  /* End Header  */


/*  Footer */
.panel-footer section {
    margin-bottom: 30px;
   
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;  
  }
  /* End Footer */
  
}


/********** Extra small devices only **********/
@media (min-width: 408px) and (max-width: 767px) {

 /* Header */ 

#logo-img {
  background: url('../images/travel-logo-sm.png') no-repeat;
  width: 60px;
  height: 60px; 
  margin-top: 20px;
  margin-left: 20px;  
  margin-right: 0;

 }
  
.navbar-header {
 
  padding-bottom: 10px;
}
.navbar-brand {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;

}

.navbar-brand h1 { 
  font-size: 1.1em; 
}

.navbar-brand p {
  font-size: 0.4em; 
}

.navbar-header button.navbar-toggle {
  
  margin-top: -50px;  
  margin-right: 30px;

}

.navbar-form {
margin-right: 10px;
margin-left: 10px;

}

#search-icon {
  bottom: 10px;
  top: 10px;
  right: 0px;
  
 
}


#nav-list {
 padding-right: 60px;
 padding-left: 60px;
  
}

#nav-list li{
  margin-top: 10px;
}


#nav-list a {
  font-size: 1em;

}

#nav-list a:hover {
    font-size: 1.2em; 
}



/* End Header */

  /*    Footer    */

  .panel-footer section {
    margin-bottom: 30px;
    
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;  
  }
  .panel-footer section hr {
    width: 50%;
  }

  /*      End Footer      */

  /* Home Page */
  
.category-tile {
    
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item {
  width: 360px;
  margin: 0 auto 15px;
  }

 /* End Home Page */

}


/********** Super extra small devices Only :-)  **********/
@media (max-width: 407px) {

 /* Header */ 

#logo-img {
  background: url('../images/travel-logo-xs.png') no-repeat;
  width: 40px;
  height: 40px; 
  margin-top: 25px;
  margin-left: 20px;  
  margin-right: 0;
 }
  
.navbar-brand {
  margin-top: 10px;
  padding-right: 0;
  padding-left: 0px;

}

.navbar-brand h1 { 
  font-size: 0.8em;
  margin-bottom: 0;
  
}

.navbar-brand p {
  font-size: 0.3em; 
}

.navbar-header button.navbar-toggle {

  margin-top: -35px;  
  margin-right: 30px;

}


.navbar-form {
margin-right: 10px;
margin-left: 10px;

}

#search-icon {
  bottom: 0px;
  top: 10px;
  right: 0px;
 
 
}

#nav-list {
 padding-right: 60px;
 padding-left: 60px;

  
}

#nav-list li{
  margin-top: 10px;

}
#nav-list a {
  font-size: 0.7em;

  
}
#nav-list a:hover {
    font-size: 0.9em; 
}

/* End Header */

/* Footer */
   .panel-footer section {
    margin-bottom: 30px;
    
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0;  
  }
  .panel-footer section hr {
    width: 50%;
  }

/* End Footer */

  /* Home Page */
  .category-tile{
    width: 280px;
    margin: 0 auto 15px;
  }

  /* End Home Page */


}

/*  Quiz Page  */

/*.jumbotron {
  

  overflow: hidden;
  border: 2px solid #0F5BB6;
  margin-bottom: 40px;
}*/



.category-tile span {

  
}

.quizName {
  
}

.textOfQuestion {
  font-size: 0.5em;
}


#quiz button {
  width: 200px;
  height:50px ;
  background-color: #0F5BB6;
  color:white ;
  font-size: 0.7em;
  margin-bottom: 20px;

}




.question {
text-align: center;
font-size: 1.2em;
padding: 10px;

}
.ans {
    /*margin-bottom: 20px; */
   
   /*  font-size: 1.4em;*/
   text-align: center;

}

.btn {

  margin-bottom: 10px;
   text-align: center;
   background-color: white;
   color: #0F5BB6;


}

.btn-group{
  width: 150px;
}

.green-focus {
border: 1px solid #218008 !important;

background-color: #218008;

}
.red-focus { border: 1px solid #FF5049 !important; 
background-color: red;
}


.slide-quiz {
 position: absolute;
  left: 0px;
  top: 10px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  height: 350px;
 
}


.active-slide{
  opacity: 1;
  z-index: 2;
}


#quiz-container{
  position: relative;
  height: 400px;
  margin-top: 40px;
}


#submit, #previous, #next {

  
  width: 150px;
 
 }


 .questionNumber {

text-align: center;


 }
